# Importing all libraries use in this project

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Importing latest 12 month data

In [2]:
df_22_01=pd.read_csv('../datasets/202201-divvy-tripdata.csv')

df_22_02=pd.read_csv('../datasets/202202-divvy-tripdata.csv')

df_21_03=pd.read_csv('../datasets/202103-divvy-tripdata.csv')

df_21_04=pd.read_csv('../datasets/202104-divvy-tripdata.csv')

df_21_05=pd.read_csv('../datasets/202105-divvy-tripdata.csv')

df_21_06=pd.read_csv('../datasets/202106-divvy-tripdata.csv')

df_21_07=pd.read_csv('../datasets/202107-divvy-tripdata.csv')

df_21_08=pd.read_csv('../datasets/202108-divvy-tripdata.csv')

df_21_09=pd.read_csv('../datasets/202109-divvy-tripdata.csv')

df_21_10=pd.read_csv('../datasets/202110-divvy-tripdata.csv')

df_21_11=pd.read_csv('../datasets/202111-divvy-tripdata.csv')

df_21_12=pd.read_csv('../datasets/202112-divvy-tripdata.csv')

In [3]:
datasets_list=[df_22_01,
               df_22_02,
               df_21_03,
               df_21_04,
               df_21_05,
               df_21_06,
               df_21_07,
               df_21_08,
               df_21_09,
               df_21_10,
               df_21_11,
               df_21_12
              ]

In [4]:
# checking if all dataset have same amount of columns.
for i in range(12):
    j=i+1
    if i<=1:
        print("df_22_"+str(j).zfill(2),end='')
    else:
        print("df_21_"+str(j).zfill(2),end='')
    print(" has", datasets_list[i].shape[1],"columns")

df_22_01 has 13 columns
df_22_02 has 13 columns
df_21_03 has 13 columns
df_21_04 has 13 columns
df_21_05 has 13 columns
df_21_06 has 13 columns
df_21_07 has 13 columns
df_21_08 has 13 columns
df_21_09 has 13 columns
df_21_10 has 13 columns
df_21_11 has 13 columns
df_21_12 has 13 columns

In [6]:
# checking if all dataset have same columns.
use_col_name=[] # will append new column names

for i in range(12):
    for j in range(len(datasets_list[1].columns)):
        element=datasets_list[i].columns[j]
        if element not in use_col_name:
            use_col_name.append(datasets_list[i].columns[j])
    
if len(use_col_name)==13:
    print(True)

True

In the last two step we validate that all datasets have same number of column and columns names are also identical.So, now we can merge them into one dataframe without any worries.

In [7]:
main_df=pd.concat(datasets_list,ignore_index=True)

In [8]:
main_df.shape

(5667986, 13)

In [9]:
main_df.to_csv("../datasets/main_df.csv")